<!-- 打赏 -->
<link rel="stylesheet" type="text/css"
href="{{ '/static/css/donate.css' | prepend: site.baseurl | prepend: site.url}}" />
<center>
	<div id="donate_module">
		<!-- btn_donate & tips -->
		<div id="donate_board" class="donate_bar center">
			<a id="btn_donate" class="btn_donate" target="_self" href="javascript:;" title="Donate 打赏"></a>
			<span class="donate_txt">
				&uarr;<br />
				若本文对您有帮助，<span class="bold">求打赏~</span> 谢谢您的鼓励。
			</span>
			<br />
		</div>
		<!-- donate guide -->
		<div id="donate_guide" class="donate_bar center hidden">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/hongbao.png" title="扫码领红包" height="164px" width="164px" /> &nbsp;
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/alipayimg.jpg" title="支付宝打赏" height="164px" width="164px" /> &nbsp;
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/weipayimg.jpg" title="微信打赏" height="164px" width="164px" /> &nbsp;
			<span class="donate_txt"><br />用手机 
			<span class="bold">
			<a href="https://mobile.alipay.com/index.htm">领红包</a> / 
			<a href="https://mobile.alipay.com/index.htm">支付宝</a> / 
			<a href="http://weixin.qq.com/">微信</a></span>，
			<span class="bold"><a href="/donate/">打赏</a></span> 是对壮壮最大的支持<br /><br />
		</div>
		<script type="text/javascript">
			document.getElementById('btn_donate').onclick = function () {
				$('#donate_board').addClass('hidden');
				$('#donate_guide').removeClass('hidden');
			}
			document.getElementById('donate_guide').onclick = function () {
				$('#donate_guide').addClass('hidden');
				$('#donate_board').removeClass('hidden');
			}
		</script>
	</div>
</center>