    <footer  class="footnote footnote-tiffany">
        <div class="container">
          <!--      <a class="foot-item" style="background:#24292e" href="https://github.com/{{ site.github_username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>  -->
                <a class="foot-item" style="background:#105f92" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" style="background:#3cb034" href="https://ydzydzydz.github.io/images/weixin.png" target="_blank"><span class="fa fa-weixin"></span></a>
                <a class="foot-item" style="background:#00c0ff" href="mqq://im/chat?chat_type=wpa&uin=2474745326&version=1&src_type=web" target="_blank"><span class="fa fa-qq"></span></a>
                <a class="foot-item" style="background:#ecd400" href="{{ '/weibo/' | prepend: site.baseurl | prepend: site.url }}"><span class="fa fa-weibo"></span></a>
                <a class="foot-item" style="background:#1da1f2" href="{{ '/twitter/' | prepend: site.baseurl | prepend: site.url }}"><span class="fa fa-twitter"></span></a>
                <a class="foot-item" style="background:#ff9b08" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a>
                <a class="foot-item" style="background:#ff3030" href="{{ '/kaspersky/' | prepend: site.baseurl | prepend: site.url }}"><span class="fa fa-television"></span></a>
                <a class="foot-item" style="background:#972fff" href="{{ '/friends/' | prepend: site.baseurl | prepend: site.url }}"><span class="fa fa-address-card"></span></a>

                &nbsp;
                <a href="http://zhuangzhuang.cf/"><span class="word-keep">&copy; zhuangzhuang</span></a>
<p>                  <span id="htmer_time" style="color:auto;"></span>
         <!-- 不蒜子统计 -->
            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv"> 总访问量<span id="busuanzi_value_site_pv"></span>次</span>

         <!-- 运行时间 -->
    <script>
        function secondToDate(second) {
            if (!second) {
                return 0;
            }
            var time = new Array(0, 0, 0, 0, 0, 0);
            if (second >= 12 * 30 * 24 * 3600) {
                time[0] = parseInt(second / (12 * 30 * 24 * 3600));
                second %= 12 * 30 * 24 * 3600;
            }
            if (second >= 30 * 24 * 3600) {
                time[1] = parseInt(second / (30 * 24 * 3600));
                second %= 30 * 24 * 3600;
            }
            if (second >= 24 * 3600) {
                time[2] = parseInt(second / (24 * 3600));
                second %= 24 * 3600;
            }
            if (second >= 3600) {
                time[3] = parseInt(second / 3600);
                second %= 3600;
            }
            if (second >= 60) {
                time[4] = parseInt(second / 60);
                second %= 60;
            }
            if (second > 0) {
                time[5] = second;
            }
            return time;
        }
    </script>
    <script type="text/javascript" language="javascript">
        function setTime() {
            // 博客创建时间秒数，时间格式中，月比较特殊，是从0开始的，所以想要显示5月，得写4才行，如下
            var create_time = Math.round(new Date(Date.UTC(2018, 10, 24, 0, 0, 0))
                    .getTime() / 1000);
            // 当前时间秒数,增加时区的差异
            var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
            currentTime = secondToDate((timestamp - create_time));
            currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '月'
                    + currentTime[2] + '天' + currentTime[3] + '时' + currentTime[4]
                    + '分'+ currentTime[5] + '秒';
            document.getElementById("htmer_time").innerHTML = currentTimeHtml;
        }
        setInterval(setTime, 1000);
    </script>

        </div>
    </footer>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    {% for script in page.scripts %}<script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%}

        <!-- 站内搜索 -->
    <div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
          opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
        <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed" placeholder="搜索：文章标题 标签 日期" >

        <div style="position: fixed; top: 16px; right: 16px;">
          <li><a id="cb-close-btn"><span class="fa fa-close"></span><span>&nbsp;关闭</a></li>
        </div>
    </div>

    <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">
    <script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>
