    <header>
        <nav class="navbar navbar-tiffany rectangle" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url }}/"><img style="display: inline-block; vertical-align: middle; width:50px;" src="{{ site.logo }}" />&nbsp;<span style="display: inline-block;">{{ site.title }}</span></a>
                    <p class="navbar-text">{{ site.description }}</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if page.url == "/index.html" %}
                        <li class="active">{% else %}
                        <li>{% endif %}
                        <a href="{{ site.baseurl | prepend: site.url }}/" class="word-keep"><span class="octicon octicon-book" style="width:16px"></span><span>&nbsp;&nbsp;主页</a>
                        </li>
                        {% for p in site.pages %}{% if p.isNavItem %}
                        {% if p.url == page.url %}
                        <li class="active">{% else %}
                        <li>{% endif %}
                            <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}" class="word-keep"><span class="octicon {{ p.icon }}" style="width:16px"></span>&nbsp;&nbsp;{{ p.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li><a id="cb-search-btn"><span class="octicon octicon-search" style="width:16px"></span><span>&nbsp;&nbsp;搜索</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
