<div class="content-navigation-aboutme">
    <div class="content-navigation-header">
        <span class="	fa fa-user"></span>&nbsp;<a href="/about">关于我</a>
    </div>
        <a href="/about"><img title="点击查看" src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/logo.png" align="center" style="width:75%; height:75%; margin-left:11.25%" /></a>
    <br />
    <div align="center">
        <a href="/about"><span style='color:#788287'> ZHUANGZHUANG<br /></span></a>
    </div>
</div>
<br />
<div align="center">
    <a href="mailto:mail@zhuangzhuang.ml" title="email"><i class="fa fa-envelope" style="color:#57585a; font-size:22px"></i></a>&nbsp;
    <a href="https://t.me/YDZ123456" title="telegram" style="color:#57585a; font-size:22px""><i class=" fa fa-send"></i></a>&nbsp;
    <a href="mqq://im/chat?chat_type=wpa&uin=2474745326&version=1&src_type=web" title="qq" style="color:#57585a; font-size:22px""><i class=" fa fa-qq"></i></a>&nbsp;
    <a href="https://ydzydzydz.github.io/images/weixin.png" title="wechat" style="color:#57585a; font-size:22px""><i class=" fa fa-weixin"></i></a>
    <br />
</div>