<div class="content-navigation-aboutme">
  <div class="content-navigation-header">
      <span class="fa fa-rss"></span>&nbsp;RSS订阅
  </div>
  <div align="center">
    <br/>
    <div style="clear: left;position: relative;width: 96%;padding-bottom: 3%;min-height: 50px;">
    <input type="text" value="https://zhuangzhuang.cf/feed.xml"style=" font: 14px Helvetica,Arial,sans-serif;border: 1px solid #ABB0B2;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;display: block;width: 100%;padding: 8px 0;text-indent: 2%;">
    </div>
    <div style="float:right;margin-right: 10px;margin-top: 15px; ">
   <a href="/feed.xml"><button type="button" name="button" style="clear: both;background-color: #aaa;border: 0 none;border-radius: 4px;transition: all 0.23s ease-in-out 0s;color: #FFFFFF;cursor: pointer;display: inline-block;font-size: 15px;font-weight: normal;height: 32px;line-height: 32px;margin: 0 5px 10px 0;padding: 0 22px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;width: auto;">订阅</button></a>
 </div>
 </div>
</div>
<br/>
<br/>
