.v .vwrap .vheader .vinput {
    border-bottom: 1.5px solid #52c5e8;
}

.v .vwrap .vheader .vinput:focus {
    border-bottom-color: #ff0000;
}

.v .vwrap {
    border: 1px solid #00adff;
	background-color: #ffffff38;
	box-shadow: 0 0 5px 0px #30c5be;
}

.v .vcards .vcard .vh .vmeta .vat {
    margin-right: 5px;
}

.v .vcards .vcard {
    border: 1px solid #00adff;
	border-radius: 5px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #ffffff38;
	box-shadow: 0 0 5px 0px #30c5be;
}

.v .vcards .vcard .vquote {
    padding-left: 0rem;
}

v .vcards .vcard .vcontent .p {
    text-align: left;
}