@media screen and (min-width: 1200px) {
				.dropdown-menu {
		position:relative;
						float: none;
						font-size: 20px;
						width: 70%;
						margin: 0 15%;
				}

	.cb-search-tool ul{
						 width: 50% ;
						 margin: 0 25%;
						 white-space:nowrap;
						 overflow:hidden;
						 text-overflow: ellipsis;
				 }


				.cb-search-content {
						width: 50%;
						margin: 0 25%;
						position: absolute;
						top: 18%;
						left: auto;
						right: auto;
						font-size: 22px;
						height: 50px;
						background-color: #eee;
						text-align: center;
						color: black;
						opacity: 1.0;
				}
		}
		@media screen and (min-width: 768px)and (max-width: 1199px) {
            .dropdown-menu {
				position:relative;
                float: none;
                font-size: 20px;
                width: 70%;
                margin: 0 15%;
            }

			.cb-search-tool ul{
                 width: 70% ;
                 white-space:nowrap;
                 overflow:hidden;
                 text-overflow: ellipsis;
             }


            .cb-search-content {
                width: 70%;
                margin: 0 15%;
                position: absolute;
                top: 18%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 50px;
                background-color: #eee;
							  text-align: center;
                color: black;
                opacity: 1.0;
            }
        }

        @media screen and (max-width: 767px) {
            .dropdown-menu {
				position:relative;
                float: none;
                font-size: 20px;
                width: 96%;
                margin: 0 2%;
            }
			.cb-search-tool ul{
				width: 96% ;
				white-space:nowrap;
				overflow:hidden;
				text-overflow: ellipsis;
			}

            .cb-search-content {
                width: 96%;
                margin: 0 2%;
                position: absolute;
                top: 10%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 50px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }
