---
layout: default
---
<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
          <header>
            <h2>{{ page.title }}</h2>
            <p class="post-meta">
                <span class="octicon octicon-clock"></span> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
            <p class="post-tag">
                <span>{% for cat in page.categories %}<a href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span>
                <span>{% for tag in page.tags %}
                    <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    {% endfor %}
                </span>
            </p>
          </header>
          <hr class="boundary">
          <article>
            {{content}}
          </article>
          <hr class="boundary">
          <div id="post-share" class="bdsharebuttonbox">
              <!--<a href="#" class="bds_more" data-cmd="more"></a>
              <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
              <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
              <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
              <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>-->
          </div>

          <!--https://github.com/overtrue/share.js-->
          <link href="https://cdn.bootcss.com/social-share.js/1.0.16/css/share.min.css" rel="stylesheet">
          <script src="https://cdn.bootcss.com/social-share.js/1.0.16/js/jquery.share.min.js"></script>
          <script src="https://cdn.bootcss.com/social-share.js/1.0.16/js/social-share.min.js"></script>
          <div class="social-share"></div>

          <br/>

		<!-- 打赏 -->
<center><div id="donate_module">
	<!-- css -->
	<style type="text/css">
		.donate_bar a.btn_donate{
			display: inline-block;
			width: 82px;
			height: 82px;
			background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
			_background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
			-webkit-transition: background 0s;
			-moz-transition: background 0s;
			-o-transition: background 0s;
			-ms-transition: background 0s;
			transition: background 0.2s;
		}
		.donate_bar a.btn_donate:hover{ background-position: 0px -82px;}
		.donate_bar .donate_txt {
			display: block;
			color: #9d9d9d;
			font: 14px/2 "Microsoft Yahei";
		}
		.bold{ font-weight: bold; }
	</style>
	<!-- btn_donate & tips -->
	<div id="donate_board" class="donate_bar center">
		<a id="btn_donate" class="btn_donate" target="_self" href="javascript:;" title="Donate 打赏"></a>
		<span class="donate_txt">
			&uarr;<br/>
			若本文对您有帮助，<span class="bold">求打赏~</span> 谢谢您的鼓励。
		</span>
		<br/>
	</div>
	<!-- donate guide -->
	<div id="donate_guide" class="donate_bar center hidden">
		<form action="" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="3MPNAMMQA4C8Y">	&nbsp; &nbsp;
		</form>
		<a href="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/alipayimg.jpg" title="Alipay_Scan_Payment" class="fancybox" rel="article0">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/hongbao.png" title="扫码领红包" height="164px" width="164px"/>
		</a> &nbsp;
		<a href="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/weipayimg.jpg" title="Alipay_Scan_Payment" class="fancybox" rel="article0">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/alipayimg.jpg" title="支付宝打赏" height="164px" width="164px"/>
		</a> &nbsp;
		<a href="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/qqpayimg.jpg" title="WeChat_Scan_Payment" class="fancybox" rel="article0">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/weipayimg.jpg" title="微信打赏" height="164px" width="auto"/>
		</a> &nbsp;
		<span class="donate_txt">
                        <br/>
			用手机 <span class="bold"><a href="https://mobile.alipay.com/index.htm">支付宝</a> / <a href="http://weixin.qq.com/">微信</a></span>，
			扫一扫即可~ 谢谢您的鼓励。<br/>
			<br/>
	</div>
	<!-- /donate guide -->
	<!-- donate script -->
	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_board').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
		function donate_on_web(){
			$('#donate').submit();
		}
	</script>
	<!-- /donate script -->
</div>
<!-- /Donate Module -->
	                 <!-- 来必力City版安装代码 -->

          <!-- City版安装代码已完成 -->
        </div>
        <div class="pad-min"></div>
        <div id="post-comment" class="sheet post">
          <!--  多说评论 -->
        <!--  <div id="disqus_thread"></div>-->
        <div id="lv-container" data-id="city" data-uid="MTAyMC8zNzQyOC8xMzk2Mg==">
        <script type="text/javascript">
           (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];
            if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                e.parentNode.insertBefore(j, e);
          })(document, 'script');
          </script>
           <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
           </div>
        </div>
    </div>
    <div class="content-navigation col-lg-3">
      <div class="shadow-bottom-center" >
        <div class="content-navigation-toc">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;文章索引
            </div>
            <div class="content-navigation-list toc"></div>
        </div>
        <div class="content-navigation-tag">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;文章标签
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% for tag in page.tags %}
                    <li>
                        <a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-navigation-related">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;相关文章
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% assign postsAfterFilter = '-' | split: "-" %}

                    {% for p in site.posts %}
                        {%if p.url != page.url %}
                            {% assign commonTagCount = 0 %}

                            {% for tag in p.tags %}
                                {% if page.tags contains tag %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% for cat in p.categories %}
                                {% if page.categories contains cat %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if commonTagCount > 0 %}
                                {% assign postsAfterFilter = postsAfterFilter | push: p %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if postsAfterFilter.size > 0 %}
                        {% for p in postsAfterFilter limit: 15 %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>
