---
layout: default
---
<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
          <header>
            <h2>{{ page.title }}</h2>
            <p class="post-meta">
                <span class="octicon octicon-clock"></span> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
            <p class="post-tag">
                <span>{% for cat in page.categories %}<a href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span>
                <span>{% for tag in page.tags %}
                    <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    {% endfor %}
                </span>
                <span id="busuanzi_container_page_pv">
                 <div class="busuanzi" style='color:#00b548;float:right'>
                   <span class="fa fa-eye"></span>&nbsp;阅读<span id="busuanzi_value_page_pv"></span>次</div>
               </span>
               <br/>
            </p>
          </header>
          <hr class="boundary">
          <article>
            {{content}}
          </article>
          <hr class="boundary">

          <!--上一篇 下一篇-->
          <ul class="pager">
           {% if page.previous.url %}
              <li class="previous">
               <a style="border: 1px solid #ff369c;" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">上一篇：<span>{{page.previous.title}}</span>
               </a>
              </li>
          {% endif %}
          {% if page.next.url %}
              <li class="next">
               <a style="border: 1px solid #ff369c;" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇：<span>{{page.next.title}}</span>
               </a>
              </li>
          {% endif %}
         </ul>
          <div id="post-share" class="bdsharebuttonbox">
              <!--<a href="#" class="bds_more" data-cmd="more"></a>
              <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
              <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
              <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
              <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>-->
          </div>

          <!--https://github.com/overtrue/share.js-->
          <link href="https://cdn.bootcss.com/social-share.js/1.0.16/css/share.min.css" rel="stylesheet">
          <script src="https://cdn.bootcss.com/social-share.js/1.0.16/js/social-share.min.js"></script>
          <div class="social-share"></div>

          <br/>

		<!-- 打赏 -->
<center><div id="donate_module">
	<!-- css -->
	<style type="text/css">
		.donate_bar a.btn_donate{
			display: inline-block;
			width: 82px;
			height: 82px;
			background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
			_background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
			-webkit-transition: background 0s;
			-moz-transition: background 0s;
			-o-transition: background 0s;
			-ms-transition: background 0s;
			transition: background 0.2s;
		}
		.donate_bar a.btn_donate:hover{ background-position: 0px -82px;}
		.donate_bar .donate_txt {
			display: block;
			color: #9d9d9d;
			font: 14px/2 "Microsoft Yahei";
		}
		.bold{ font-weight: bold; }
	</style>
	<!-- btn_donate & tips -->
	<div id="donate_board" class="donate_bar center">
		<a id="btn_donate" class="btn_donate" target="_self" href="javascript:;" title="Donate 打赏"></a>
		<span class="donate_txt">
			&uarr;<br/>
			若本文对您有帮助，<span class="bold">求打赏~</span> 谢谢您的鼓励。
		</span>
		<br/>
	</div>
	<!-- donate guide -->
	<div id="donate_guide" class="donate_bar center hidden">
		<form action="" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="3MPNAMMQA4C8Y">	&nbsp; &nbsp;
		</form>
		<a href="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/alipayimg.jpg" title="Alipay_Scan_Payment" class="fancybox" rel="article0">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/hongbao.png" title="扫码领红包" height="164px" width="164px"/>
		</a> &nbsp;
		<a href="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/weipayimg.jpg" title="Alipay_Scan_Payment" class="fancybox" rel="article0">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/alipayimg.jpg" title="支付宝打赏" height="164px" width="164px"/>
		</a> &nbsp;
		<a href="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/qqpayimg.jpg" title="WeChat_Scan_Payment" class="fancybox" rel="article0">
			<img src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/payimg/weipayimg.jpg" title="微信打赏" height="164px" width="auto"/>
		</a> &nbsp;
		<span class="donate_txt">
      <br/>
      用手机 <span class="bold"><a href="https://mobile.alipay.com/index.htm">支付宝</a> / <a href="http://weixin.qq.com/">微信</a></span>，
			扫一扫即可~ 谢谢您的鼓励。<br/>
			<br/>
	</div>
  <script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_board').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
		function donate_on_web(){
			$('#donate').submit();
		}
	</script>
</div>
<!-- /Donate Module -->

        </div>
        <div class="pad-min"></div>
        <div id="post-comment" class="sheet post">
          <!--  多说评论 -->
        <!--  <div id="disqus_thread"></div>-->


        <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'edBPYFEXGjTNmYOSU6QfSs8M-gzGzoHsz',
            appKey: 'Ak42WeKa9Fx00j5RiUXUJIhK',
            notify: false,
            verify: false,
            avatar:'mm',
            placeholder: '随便说说什么吧~~~',
            lang:'zh-cn'
        })
    </script>


      <!--  <div id="lv-container" data-id="city" data-uid="MTAyMC8zNzQyOC8xMzk2Mg==">
        <script type="text/javascript">
           (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];
            if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                e.parentNode.insertBefore(j, e);
          })(document, 'script');
          </script>
           <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
           </div>  -->


        </div>
    </div>
    <div class="content-navigation col-lg-3">
      <div class="shadow-bottom-center" >
        <div class="content-navigation-toc">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;文章索引
            </div>
            <div class="content-navigation-list toc"></div>
        </div>
        <div class="content-navigation-tag">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;文章标签
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% for tag in page.tags %}
                    <li>
                        <a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-navigation-related">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;相关文章
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% assign postsAfterFilter = '-' | split: "-" %}

                    {% for p in site.posts %}
                        {%if p.url != page.url %}
                            {% assign commonTagCount = 0 %}

                            {% for tag in p.tags %}
                                {% if page.tags contains tag %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% for cat in p.categories %}
                                {% if page.categories contains cat %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if commonTagCount > 0 %}
                                {% assign postsAfterFilter = postsAfterFilter | push: p %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if postsAfterFilter.size > 0 %}
                        {% for p in postsAfterFilter limit: 15 %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>


              <div class="pad-min"></div>
              <div class="shadow-bottom-center" >
                <div class="content-navigation-aboutme">
                  <div class="content-navigation-header">
                      <span class="	fa fa-user"></span>&nbsp;关于我
                  </div>
                  <a href="/about">
                  <img title="点击查看" src="https://raw.githubusercontent.com/ydzydzydz/blogphoto/master/logo.png" align="center" style="width:75%; height:75%; margin-left:11.25%" /></a>
                  <br/>
                  <div align="center">
                    <a href="/about">
                  <span style='color:#788287'> ZHUANGZHUANG<br /></span></a>
                  </div>
                </div>
                <br/>
                  <div align="center">
                  <a href="mailto:mail@zhuangzhuang.ml" title="email"><i class="fa fa-envelope" style="color:#57585a; font-size:22px"></i></a>&nbsp;
                  <a href="https://t.me/YDZ123456" title="telegram" style="color:#57585a; font-size:22px""><i class="fa fa-send"></i></a>&nbsp;
                  <a href="mqq://im/chat?chat_type=wpa&uin=2474745326&version=1&src_type=web" title="qq" style="color:#57585a; font-size:22px""><i class="fa fa-qq"></i></a>&nbsp;
                  <a href="https://ydzydzydz.github.io/images/weixin.png" title="wechat" style="color:#57585a; font-size:22px""><i class="fa fa-weixin"></i></a>
                  <br />
                  </div>

                  <div class="content-navigation-me">
                    <div class="content-navigation-header">
                        <span class="	fa fa-chain"></span>&nbsp;友情链接
                    </div>
                    <div class="content-navigation-list">
                    <br/>
                      <div align="center">
                    <a href="https://007ayong.tk/" style="display: inline-block; border: 1px solid rgba(185,185,185,.8); border-radius: 999em; padding: 0 10px; color: #fff; line-height: 24px; font-size: 16px; text-decoration: none; margin: 0 5px; margin-bottom: 6px; background-color: #bbbbee; box-shadow: 2px 0px 7px #f5a5a5;">007阿永</a>
                    <a href="https://gxzyzd.tk/" style="display: inline-block; border: 1px solid rgba(185,185,185,.8); border-radius: 999em; padding: 0 10px; color: #fff; line-height: 24px; font-size: 16px; text-decoration: none; margin: 0 5px; margin-bottom: 6px; background-color: #bbbbee; box-shadow: 2px 0px 7px #f5a5a5;">共享资源站点</a>
                  </div>

                  </div>
                  </div>

                </div>



                <div class="pad-min"></div>
                <div class="shadow-bottom-center" >
                  <div class="content-navigation-aboutme">
                    <div class="content-navigation-header">
                        <span class="fa fa-calendar-check-o"></span>&nbsp;计时器
                    </div>
                    <div align="center">
                      <h1 id="mytime">00:00:00</h1>
                      <br/>
                   </div>
                  </div>
                </div>


    </div>
</div>



<script>
    function two_char(n) {
        return n >= 10 ? n : "0" + n;
    }
    function time_fun() {
        var sec=0;
        setInterval(function () {
            sec++;
            var date = new Date(0, 0)
            date.setSeconds(sec);
            var h = date.getHours(), m = date.getMinutes(), s = date.getSeconds();
            document.getElementById("mytime").innerText = two_char(h) + ":" + two_char(m) + ":" + two_char(s);
        }, 1000);
    }
</script>
